/* Réglages sur la nav  */
.nav-colored {
  background-color: rgba(255, 255, 255);
  transition: background-color 700ms linear;
  box-shadow: 0px 0px 0.8px #222222;
}
.nav-transparent {
  background-color: transparent;
}

/* Réglages hero */

.hero-berlin {
  background: url(../img/berlin/hero.jpg) no-repeat center right 10%;
  background-size: cover;
  min-height: 80vh;
  padding-top: 115px;
}

.hero-berlin .grid-row h1 {
  padding-top: 20%;
  color: #fff;
}

#hero-numbers {
  height: 26px;
  width: 239px;
  color: #fefefe;
  font-family: Raleway;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 26px;
}

/* Réglages - Section étudiants inscrits */

#registered-students {
  color: #0c1b33;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  padding: 16px 24px;
  margin: 0px 12px;
}

.user-name {
  height: 19px;
  width: 120px;
  color: #0c1b33;
  font-family: Raleway;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}

/* Réglages jobs étudiants  */

#registered-student-jobs {
  padding: 16px;
  margin: 0px 12px;
}
.jobs-title {
  width: 100%;
  color: #0c1b33;
  font-family: Raleway;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 16px;
}

.card-berlin {
  width: 100%;
}

.card-berlin-2 {
  padding: 16px 32px;
  margin: 0 12px 8px 12px;
}

.jobs-title,
#places-titles {
  font-family: Raleway;
  font-size: 16px;
  font-weight: bold;
}
#job-offer,
#place {
  display: flex;
  justify-content: space-between;
  height: 25px;
}

#job-enterprise,
#location {
  height: 19px;
  color: #ff4d3e;
  font-family: Raleway;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  font-weight: 400;
}

.job-salary,
#place-fee {
  color: #0c1b33;
  font-family: Raleway;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}

/* Réglages des lieux */

.col-places {
  margin-bottom: 24px;
}

.col-places:hover {
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-out;
  transform: translateY(-6px);
}
.places-img img {
  height: 132px;
  border-radius: 24px;
}

.col-places:hover {
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  transform: translateY(-4px);
}

#places-titles {
  margin-top: 20px;
  margin-bottom: 17px;
}
