.herolondon {
  background: url(img/bridge.jpg) no-repeat center right 10%;
  background-size: 40%;
  min-height: 90vh;
  padding-top: 115px;
}

#etudiants {
  height: 194px;
  width: 1256px;
  margin:  62px 92.5px;
}
