.hero-london {
  background: #fff3df url(../img/bridge.png) no-repeat center;
  background-size: cover;
  min-height: 60vh;
  padding-top: 30vh;
}

#hero-title {
  color: #FFFFFF;
  margin-bottom: 20px;
}

#hero-numbers {
  color: #FFFFFF;
}


.card-img img {
  height: 130px;
  border-radius: 24px !important;
}
